.App {
  text-align: center;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header img{
  width: 4%;
}

.input input{
  width: 60%;
  height: 8vh;
  border-radius: 20vh;
  font-size: larger;
}

.input button{
  height: 8vh;
  width: 5vw;
  border-radius: 50%;
  background-color: greenyellow;
  cursor: pointer;
}

@media (max-width: 767px) {
  .input button{
    width: 15%;
  }
}

.nothingYet{
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo{
  border: 2px solid black;
  width: 50vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 20vh;
  background-color: greenyellow;
}

.todoContainer{
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.todoContainer img{
  width: 20px;
  height: 25px;
  cursor: pointer;
}
